<template>
	<div>
		<button v-for="item in items" :key="item.index">{{ item }}</button>
	</div>
</template>

<script>
export default {
	props: {
		items: {
			type: Array,
			default: []
		}
	}
};
</script>

<style>
</style>
