<template>
	<div>
		<h2>HTML Table</h2>

		<table>
			<thead>
				<tr>
					<th v-for="header in headers" :key="header.index">{{ header.name }}</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="field in fields" :key="field.index">
					<td>{{ field.name }}</td>
					<td>{{ field.gender }}</td>
					<td>{{ field.age }}</td>
					<td>{{ field.address }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
export default {
	props: {
		fields: {
			type: Array,
			default: []
		},
		headers: {
			type: Array,
			default: []
		}
	}
};
</script>

<style>
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td,
th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}
</style>
