<template>
	<div>
		<h1>hello world</h1>
		<my-button :items="laugages" />
		<b-table :headers="tb_header" :fields="tb_fields" />
	</div>
</template>

<script>
import MyTable from "./components/MyTable";
export default {
	components: {
		"b-table": MyTable
	},
	data() {
		return {
			laugages: ["CSS", "VB.net", "C#", "PHP"],
			tb_header: [
				{ name: "Name" },
				{ name: "Gender" },
				{ name: "Age" },
				{ name: "Address" }
			],
			tb_fields: [
				{
					name: "Dara",
					gender: "M",
					age: "25",
					address: "Phnom Penh"
				},
				{
					name: "Smey",
					gender: "M",
					age: "20",
					address: "Phnom Penh"
				},
				{
					name: "Vapy",
					gender: "F",
					age: "23",
					address: "Kompang Chan"
				}
			]
		};
	},
	mounted() {
		alert("mounted");
	},
	methods: {}
};
</script>

<style lang="scss">
</style>
